.container
  .jumbotron
    h1 University of Cypress-Houston
    p Welcome to the Cullen College of Engineering! The following are the courses offered for the Fall 2015 semesters.
  .row
    .col-md-6
      div(ng-include="'/partials/featured-courses'")
    .col-md-6
      div(ng-include="'/partials/new-courses'")